/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  color:black;
}

body{
  padding: 30px;
}

header {
  width: 750px;
  padding: 0;
  margin: 0;
}

.table-box{
  width: 750px;
  padding:10px 10;
  margin: 10px;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
}

.title-name{
  width: 200px;
  text-align: center;
}

.body-name{
  width:400px;
  text-align: center;
}

.function-blank{
  width:150px;
  text-align: center;
}

.books-information{
  width: 750px;
  padding:10px 10;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
}

.title-box{
  width: 200px;
  margin:2px;
  display:frex;
  flex-direction:column-reverse;
}

.body-box{
  width:400px;
  margin: 2px;
  display:frex;
  flex-direction:column-reverse;
}

.function-box{
  width:150px;
  margin: 1px;
  display:frex;
  flex-direction:column-reverse;
}

.New-book{
  margin:15px 0;
}

.New-Title{
  margin:5px 0;
}
.New-Body{
  margin:5px 0;
}

.submit-btn{
  width:100px;
  height:25px;
}

.show-bookdata{
  padding:15px;
}

.title-data{
  padding-bottom:30px;
}

.show-function{
  display:inline-block;
}

.edit-btn{
  border-right: 1px solid black
}